# 정렬

## 응용예제 01. 성적별로 조 편성하기 (2023.04.21)
- 학생의 성적별로 정렬한 후 가장 성적이 높은 학생과 가장 성적이 낮은 학생을 짝으로 조 편성 (전체 학생 수는 짝수라고 가정)

In [3]:
before = [['선미',88],['초아',99],['화사',71],
          ['영탁',78],['영웅',67],['민호',92]]
after = sorted(before, key=(lambda x: x[1]))

n = len(after)
for i in range(n):
  if i<n/2:
    print(after[i][0],':',after[n-i-1][0])

영웅 : 초아
화사 : 민호
영탁 : 선미

## 응용예제 02. 2차원 배열의 중앙값 찾기 (2023.04.21)
- 2차원 배열 값에서 중앙값을 찾는다. 2차원 배열을 1차원 배열로 만든 후 정렬

In [24]:
import numpy as np
arr = [[55,33,250,44],
       [88,1,76,23],
       [199,222,38,47],
       [155,145,20,99]]
arr = np.array(arr)
arr = list(arr.reshape(-1))
arr = sorted(arr)
n = len(arr)
print('중앙값 -->', arr[n//2])

중앙값 --> 76

##프로그래머스 Lv1. K번째 수 (2023.04.22)

In [7]:
def solution(array, commands):
    return [sorted(array[lst[0]-1:lst[1]])[lst[2]-1] for lst in commands]

In [5]:
# 다른 풀이 : 리스트 컴프리헨션 말고 map으로도!
def solution(array, commands):
    return list(map(lambda x: sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

In [8]:
solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]])

[5, 6, 3]