## 1. 과일 장수 (2023.03.22)

In [57]:
def solution(k, m, score):
    from collections import Counter
    c = dict(Counter(sorted(score, reverse=True)))
    res = 0
    answer = 0
    for p in c:
        box = (c[p]+res)//m
        res = (c[p]+res)%m
        answer += p*m*box
    return answer

In [68]:
solution(3,4,[1, 2, 3, 1, 2, 3, 1])

8

In [69]:
solution(4,3,[4, 1, 2, 2, 4, 4, 4, 4, 1, 2, 4, 2])

33

다른 사람 풀이

[1, 2, 3, 1, 2, 3, 1], m=4
- 정렬 : [1, 1, 1, / **2**, 2, 3, 3]
- 뒤에서부터 m=4 간격으로 끊었을 때 앞에있는 작은 숫자들끼리 합하고 m 곱해줌

[4, 1, 2, 2, 4, 4, 4, 4, 1, 2, 4, 2], m=3
- 정렬 : [**1**, 1, 2, / **2**, 2, 2, / **4**, 4, 4, / **4**, 4, 4]

In [67]:
# 다른 사람 풀이
def solution(k, m, score):
    return sum(sorted(score)[len(score)%m::m])*m

## 2. 제일 작은 수 제거하기 (2023.03.22)

In [116]:
def solution(arr):
    # 이 방법은 테스트 문제 1번에 시간초과 에러
    # answer = [i for i in arr if i!=min(arr)]
    # if answer==[]:
    #     answer.append(-1)
    
    if len(arr) >1:
        arr.pop(arr.index(min(arr)))
    else: arr = [-1]
    return arr

In [117]:
solution([4,3,2,1])

[4, 3, 2]

In [118]:
solution([10])

[-1]

## 3. 없는 숫자 더하기[월간 코드 챌린지 시즌3] (2023.03.22)
- 다른 사람 풀이 1번이랑 똑같다!!

In [121]:
def solution(numbers):
    answer = 45 - sum(numbers)
    return answer

In [122]:
solution([1,2,3,4,6,7,8,0])

14

In [123]:
solution([5,8,4,0,6,7,9])

6