# 프로그래머스

## 1. 문자열 다루기 기본
- 문제 설명 </br>
문자열 s의 길이가 4 혹은 6이고, 숫자로만 구성돼있는지 확인해주는 함수, solution을 완성하세요. 예를 들어 s가 "a234"이면 False를 리턴하고 "1234"라면 True를 리턴하면 됩니다.

- 제한 사항</br>
s는 길이 1 이상, 길이 8 이하인 문자열입니다.
s는 영문 알파벳 대소문자 또는 0부터 9까지 숫자로 이루어져 있습니다.

- 입출력 예 </br>
s	return </br>
"a234"	false </br>
"1234"	true

In [ ]:
# 내 풀이
def solution(s):
    try:
        int(s)
        if len(s) == 4 or len(s) == 6:
            answer = True
        else: 
            answer = False
    except: 
        answer = False
    return answer

In [ ]:
solution("a234")

False

In [ ]:
solution("1234")

True

In [ ]:
# 프로그래머스 best 풀이
def solution(s):
    return s.isdigit() and len(s) in [4,6]

## 2. 문자열 내 p와 y의 개수
### 문제 설명
- 대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.
- 예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

### 제한사항
- 문자열 s의 길이 : 50 이하의 자연수
- 문자열 s는 알파벳으로만 이루어져 있습니다.

### 입출력 예
s	answer </br>
"pPoooyY"	true </br>
"Pyy"	false 

### 입출력 예 설명
- 입출력 예 #1 </br>
'p'의 개수 2개, 'y'의 개수 2개로 같으므로 true를 return 합니다.

- 입출력 예 #2 </br>
'p'의 개수 1개, 'y'의 개수 2개로 다르므로 false를 return 합니다.

In [ ]:
def solution(s):
    s = s.lower()
    if s.count('p')==s.count('y'):
        answer = True
    else: 
        answer = False
    return answer

In [ ]:
solution("pPoooyY")

True

In [ ]:
solution("Pyy")

False

In [ ]:
# 프로그래머스 best 풀이
def numPY(s):
    # 함수를 완성하세요
    return s.lower().count('p') == s.lower().count('y')

## 3. 하샤드 수
### 문제 설명
양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

### 제한 조건
x는 1 이상, 10000 이하인 정수입니다.

### 입출력 예
arr	return </br>
10	true </br>
12	true </br>
11	false </br>
13	false </br>

### 입출력 예 설명
입출력 예 #1
10의 모든 자릿수의 합은 1입니다. 10은 1로 나누어 떨어지므로 10은 하샤드 수입니다.

입출력 예 #2
12의 모든 자릿수의 합은 3입니다. 12는 3으로 나누어 떨어지므로 12는 하샤드 수입니다.

입출력 예 #3
11의 모든 자릿수의 합은 2입니다. 11은 2로 나누어 떨어지지 않으므로 11는 하샤드 수가 아닙니다.

입출력 예 #4
13의 모든 자릿수의 합은 4입니다. 13은 4로 나누어 떨어지지 않으므로 13은 하샤드 수가 아닙니다.

In [ ]:
def solution(x):
    s = str(x)
    sum = 0
    for i in range(len(s)):
       sum += int(s[i])
    return x%sum == 0

In [ ]:
solution(10)

True

In [ ]:
solution(12)

True

In [ ]:
solution(11)

False

In [ ]:
solution(13)

False

In [ ]:
[2, 1, 2, 6, 2, 4, 3, 3].count(2)

3

## 4. 실패율 (2019 KAKAO BLIND RECRUITMENT)

슈퍼 게임 개발자 오렐리는 큰 고민에 빠졌다. 그녀가 만든 프랜즈 오천성이 대성공을 거뒀지만, 요즘 신규 사용자의 수가 급감한 것이다. 원인은 신규 사용자와 기존 사용자 사이에 스테이지 차이가 너무 큰 것이 문제였다.

이 문제를 어떻게 할까 고민 한 그녀는 동적으로 게임 시간을 늘려서 난이도를 조절하기로 했다. 역시 슈퍼 개발자라 대부분의 로직은 쉽게 구현했지만, 실패율을 구하는 부분에서 위기에 빠지고 말았다. 오렐리를 위해 실패율을 구하는 코드를 완성하라.

실패율은 다음과 같이 정의한다.
스테이지에 도달했으나 아직 클리어하지 못한 플레이어의 수 / 스테이지에 도달한 플레이어 수
전체 스테이지의 개수 N, 게임을 이용하는 사용자가 현재 멈춰있는 스테이지의 번호가 담긴 배열 stages가 매개변수로 주어질 때, 실패율이 높은 스테이지부터 내림차순으로 스테이지의 번호가 담겨있는 배열을 return 하도록 solution 함수를 완성하라.

### 제한사항
스테이지의 개수 N은 1 이상 500 이하의 자연수이다.
stages의 길이는 1 이상 200,000 이하이다.
stages에는 1 이상 N + 1 이하의 자연수가 담겨있다.
각 자연수는 사용자가 현재 도전 중인 스테이지의 번호를 나타낸다.
단, N + 1 은 마지막 스테이지(N 번째 스테이지) 까지 클리어 한 사용자를 나타낸다.
만약 실패율이 같은 스테이지가 있다면 작은 번호의 스테이지가 먼저 오도록 하면 된다.
스테이지에 도달한 유저가 없는 경우 해당 스테이지의 실패율은 0 으로 정의한다.

### 입출력 예
N	stages	result </br>
5	[2, 1, 2, 6, 2, 4, 3, 3]	[3,4,2,1,5]   </br>
4	[4,4,4,4,4]	[4,1,2,3]  </br>

### 입출력 예 설명
입출력 예 #1

1번 스테이지에는 총 8명의 사용자가 도전했으며, 이 중 1명의 사용자가 아직 클리어하지 못했다. 따라서 1번 스테이지의 실패율은 다음과 같다.

1 번 스테이지 실패율 : 1/8
2번 스테이지에는 총 7명의 사용자가 도전했으며, 이 중 3명의 사용자가 아직 클리어하지 못했다. 따라서 2번 스테이지의 실패율은 다음과 같다.

2 번 스테이지 실패율 : 3/7
마찬가지로 나머지 스테이지의 실패율은 다음과 같다.

3 번 스테이지 실패율 : 2/4
4번 스테이지 실패율 : 1/2
5번 스테이지 실패율 : 0/1
각 스테이지의 번호를 실패율의 내림차순으로 정렬하면 다음과 같다.

[3,4,2,1,5]

입출력 예 #2

모든 사용자가 마지막 스테이지에 있으므로 4번 스테이지의 실패율은 1이며 나머지 스테이지의 실패율은 0이다.

[4,1,2,3]

In [9]:
def solution(N, stages):
    d = {}
    n_user = len(stages)
    s = 1
    m = len(stages)
    while s<=N:
        n = stages.count(s)
        d[s] = n/m
        m -= n  
        s += 1
    answer = dict(sorted(d.items(), key=lambda x: x[1], reverse=True)).keys()
    return list(answer)

In [10]:
solution(5, [2, 1, 2, 6, 2, 4, 3, 3])

[3, 4, 2, 1, 5]

In [11]:
solution(4, [4,4,4,4])

[4, 1, 2, 3]

## 5. 콜라츠 추측
1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1-1. 입력된 수가 짝수라면 2로 나눕니다. 
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다. 
2 . 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 
예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

### 제한 사항
입력된 수, num은 1 이상 8,000,000 미만인 정수입니다.

### 입출력 예
n	result </br>
6	8</br>
16	4</br>
626331	-1</br>

### 입출력 예 설명
입출력 예 #1 </br>
문제의 설명과 같습니다.

입출력 예 #2 </br>
16 → 8 → 4 → 2 → 1 이 되어 총 4번 만에 1이 됩니다.

입출력 예 #3</br>
626331은 500번을 시도해도 1이 되지 못하므로 -1을 리턴해야 합니다.

In [7]:
def solution(num):
    answer = 0
    cnt = 0
    while cnt <= 500:
        if num==1:
            return cnt
            break
        if num%2==0:
            num/=2
        else:
            num = num*3 +1
        cnt+=1
    return -1

In [8]:
solution(6)

8

In [3]:
solution(16)

4

In [4]:
solution(626311)

128