## 1. 문자열 다루기 기본 (2023.03.13)

In [ ]:
# 내 풀이
def solution(s):
    try:
        int(s)
        if len(s) == 4 or len(s) == 6:
            answer = True
        else: 
            answer = False
    except: 
        answer = False
    return answer

In [ ]:
solution("a234")

False

In [ ]:
solution("1234")

True

In [ ]:
# 프로그래머스 best 풀이
def solution(s):
    return s.isdigit() and len(s) in [4,6]

## 2. 문자열 내 p와 y의 개수 (2023.03.14)

In [ ]:
def solution(s):
    s = s.lower()
    if s.count('p')==s.count('y'):
        answer = True
    else: 
        answer = False
    return answer

In [ ]:
solution("pPoooyY")

True

In [ ]:
solution("Pyy")

False

In [ ]:
# 프로그래머스 best 풀이
def numPY(s):
    # 함수를 완성하세요
    return s.lower().count('p') == s.lower().count('y')

## 3. 하샤드 수 (2023.03.14)

In [ ]:
def solution(x):
    s = str(x)
    sum = 0
    for i in range(len(s)):
       sum += int(s[i])
    return x%sum == 0

In [ ]:
solution(10)

True

In [ ]:
solution(12)

True

In [ ]:
solution(11)

False

In [ ]:
solution(13)

False

In [ ]:
[2, 1, 2, 6, 2, 4, 3, 3].count(2)

3

## 4. 콜라츠 추측 (2023.03.15)

In [ ]:
def solution(num):
    answer = 0
    cnt = 0
    while cnt <= 500:
        if num==1:
            return cnt
            break
        if num%2==0:
            num/=2
        else:
            num = num*3 +1
        cnt+=1
    return -1

In [ ]:
solution(6)

8

In [ ]:
solution(16)

4

In [ ]:
solution(626311)

128

## 5. 실패율 (2019 KAKAO BLIND RECRUITMENT) (2023.03.15)

In [ ]:
def solution(N, stages):
    d = {}
    n_user = len(stages)
    for s in range(1, N+1):
        n = stages.count(s)
        if n==0:
            d[s]=0
        else:
            d[s] = n/n_user
            n_user -= n  
    answer = sorted(d, key=lambda x: d[x], reverse=True)
    return answer

In [ ]:
solution(5, [2, 1, 2, 6, 2, 4, 3, 3])

[3, 4, 2, 1, 5]

In [ ]:
solution(4, [4,4,4,4])

[4, 1, 2, 3]

## 6. 가운데 글자 가져오기 (2023.03.16)

In [ ]:
def solution(s):
    n = len(s)
    i = n//2
    if n%2 != 0:
        answer = s[i]
    else:
        answer = s[i-1:i+1]
    return answer

In [ ]:
solution('abcde')

'c'

In [ ]:
solution('pweq')

'we'

## 7. 문자열 내림차순으로 배치하기 (2023.03.16)

In [ ]:
def solution(s):
    return ''.join(sorted(s, reverse=True))

In [ ]:
solution('Zbcdefg')

'gfedcbZ'

In [ ]:
solution('ZzZ')

'zZZ'

## 8. 같은 숫자는 싫어 (2023.03.17)
- 스택/큐

In [ ]:
def solution(arr):
    answer = []
    answer.append(arr[0])
    for i in range(1,len(arr)):
        if arr[i] != answer[-1]:
            answer.append(arr[i])
    return answer

In [ ]:
solution([1,1,3,3,0,1,1])

[1, 3, 0, 1]

In [ ]:
solution([4,4,4,3,3])

[4, 3]

In [ ]:
def no_continuous(s):
    return [s[i] for i in range(len(s)) if [s[i]] != s[i+1:i+2]]

In [ ]:
no_continuous([1,1,3,3,0,1,1])

[1, 3, 0, 1]

In [ ]:
a = []
a[-1:]

[]

In [ ]:
a = [1,2]
a[2:3]

[]

## 9. 시저 암호 (2023.03.17)

In [ ]:
122-97+1 # 97~122 # 65~90

26

In [ ]:
def solution(s, n):
    answer = ''
    for i in range(len(s)):
        if s[i] == ' ':
            answer+=s[i]
        else:
            if ((ord(s[i])<=90) and (ord(s[i])+n > 90)) or (ord(s[i])>=97) and (ord(s[i])+n > 122):
                answer+=chr(ord(s[i])+n-26)
            else:
                answer+=chr(ord(s[i])+n)
    return answer

In [ ]:
# 프로그래머스 풀이
def solution(s, n):
    answer = list(s)
    for i in range(len(answer)):
        if answer[i].isupper():
            answer[i] = chr((ord(answer[i])-ord('A')+n)%26 + ord('A'))
        elif answer[i].islower():
            answer[i] = chr((ord(answer[i])-ord('a')+n)%26 + ord('a'))
    return ''.join(answer)

In [ ]:
solution("AB", 1)

'BC'

In [ ]:
solution('z',1)

'a'

In [ ]:
solution("a B z",4)

'e F d'

## 10. 약수의 합 (2023.04.27)

In [ ]:
def solution(n):
    return n + sum([i for i in range(1,n//2+1) if n%i==0])

In [ ]:
solution(12)

28

In [ ]:
solution(5)

6

## 11. 과일 장수 (2023.03.22)

In [ ]:
def solution(k, m, score):
    from collections import Counter
    c = dict(Counter(sorted(score, reverse=True)))
    res = 0
    answer = 0
    for p in c:
        box = (c[p]+res)//m
        res = (c[p]+res)%m
        answer += p*m*box
    return answer

In [ ]:
solution(3,4,[1, 2, 3, 1, 2, 3, 1])

8

In [ ]:
solution(4,3,[4, 1, 2, 2, 4, 4, 4, 4, 1, 2, 4, 2])

33

⭐️ 다른 사람 풀이

[1, 2, 3, 1, 2, 3, 1], m=4
- 정렬 : [1, 1, 1, / **2**, 2, 3, 3]
- 뒤에서부터 m=4 간격으로 끊었을 때 앞에있는 작은 숫자들끼리 합하고 m 곱해줌

[4, 1, 2, 2, 4, 4, 4, 4, 1, 2, 4, 2], m=3
- 정렬 : [**1**, 1, 2, / **2**, 2, 2, / **4**, 4, 4, / **4**, 4, 4]

In [ ]:
# 다른 사람 풀이
def solution(k, m, score):
    return sum(sorted(score)[len(score)%m::m])*m

## 12. 제일 작은 수 제거하기 (2023.03.22)

In [ ]:
def solution(arr):
    # 이 방법은 테스트 문제 1번에 시간초과 에러
    # answer = [i for i in arr if i!=min(arr)]
    # if answer==[]:
    #     answer.append(-1)
    
    # 이 방법은 성공
    if len(arr) >1:
        arr.pop(arr.index(min(arr)))
    else: arr = [-1]
    return arr

In [ ]:
solution([4,3,2,1])

[4, 3, 2]

In [ ]:
solution([10])

[-1]

## 13. 없는 숫자 더하기[월간 코드 챌린지 시즌3] (2023.03.22)

In [ ]:
def solution(numbers):
    # 처음으로 다른 사람 풀이 1번이랑 똑같다!!
    answer = 45 - sum(numbers)
    return answer

In [ ]:
solution([1,2,3,4,6,7,8,0])

14

In [ ]:
solution([5,8,4,0,6,7,9])

6

## 14. 기사단원의 무기 (2023.03.23)

In [ ]:
def solution(number, limit, power):
    real_power = []
    answer = 0
    for n in range(1,number+1):
        cnt = 0
        for i in range(1, int(n**(1/2))+1):
            if (n%i==0):
                cnt+=1
                if (i**2)!=n: 
                    cnt+=1
        real_power.append(cnt)

    from collections import Counter
    c = dict(Counter(real_power))
    # 이렇게 하면 '런타임 에러'가 남ㅠㅠ  (c[p] = 0 처럼 하는게 인덱스 접근해서 에러날지도..?)
    # for p in c:
    #     if p > limit:
    #         c[power] += c[p]
    #         c[p] = 0
    # answer = sum([p*v for p,v in c.items()]) 
    # 바꿔서 이렇게 풀어서 성공!!
    for p in c:
        if p > limit:
            answer += c[p] * power
        else:
            answer += p * c[p]
    return answer

In [ ]:
# 딕셔너리 사용하지 않고 리스트에서 바로 풀 수도 있음!!! (변수 적은게 좋으니 기존 변수 활용해서 풀도록 하자)
def solution1(number, limit, power):
    real_power = []
    for n in range(1,number+1):
        cnt = 0
        for i in range(1, int(n**(1/2))+1):
            if (n%i==0):
                cnt+=1
                if (i**2)!=n: 
                    cnt+=1
        real_power.append(cnt)
    return sum([power if p > limit else p for p in real_power])

In [ ]:
solution(5,3,2)

10

In [ ]:
solution1(5,3,2)

10

In [ ]:
solution(10,3,2)

21

In [ ]:
solution1(10,3,2)

21

## 15. 핸드폰 번호 가리기 (2023.03.26)

In [ ]:
def solution(phone_number):
    return'*'*(len(phone_number)-4) + phone_number[-4:]

In [ ]:
solution("01033334444")

'*******4444'

In [ ]:
solution("027778888")

'*****8888'


## 16. 이상한 문자 만들기 (2023.03.26)

In [ ]:
def solution(ss):
    '''슬라이싱 사용해서 대문자 대체'''
    ss = ss.lower()
    words = []
    for s in ss.split(' '):
        word = list(s)
        word[::2] = s[::2].upper()
        words.append(''.join(word))
    return ' '.join(words)

In [ ]:
solution("try hello world")

'TrY HeLlO WoRlD'

In [ ]:
# 다른 사람 풀이
def toWeirdCase(s):
    '''2로 나눴을 때 나머지 확인하는 방법으로 짝수 인덱스 대문자 대체
    map 사용하는 방법 확인하기!'''
    return " ".join(map(lambda x: "".join([a.lower() if i % 2 else a.upper() for i, a in enumerate(x)]), s.split(" ")))

In [ ]:
s = "try hello world"
print(list(map(lambda x: ([a.lower() if i % 2 else a.upper() for i, a in enumerate(x)]), s.split(" "))))
print(list(map(lambda x: "".join([a.lower() if i % 2 else a.upper() for i, a in enumerate(x)]), s.split(" "))))
print(" ".join(map(lambda x: "".join([a.lower() if i % 2 else a.upper() for i, a in enumerate(x)]), s.split(" "))))

[['T', 'r', 'Y'], ['H', 'e', 'L', 'l', 'O'], ['W', 'o', 'R', 'l', 'D']]
['TrY', 'HeLlO', 'WoRlD']
TrY HeLlO WoRlD

## 17. [1차] 비밀지도 (2018 KAKAO BLIND RECRUITMENT) (2023.03.27)

In [ ]:
def solution(n, arr1, arr2):
    result = []
    bin1 = [b[2:] if len(b)==n+2 else (n-len(b)+2)*'0'+b[2:] for b in list(map(bin, arr1))]
    bin2 = [b[2:] if len(b)==n+2 else (n-len(b)+2)*'0'+b[2:] for b in list(map(bin, arr2))]
    for b1,b2 in zip(bin1, bin2):
        answer = []
        for i in range(n):
            if b1[i] == '1':
                answer.append('#')
            else:
                if b2[i] == '0':
                    answer.append(' ')
                else:
                    answer.append('#')
        result.append(''.join(answer))
    return result

In [ ]:
solution(5, [9, 20, 28, 18, 11], 	[30, 1, 21, 17, 28])

['#####', '# # #', '### #', '#  ##', '#####']

In [ ]:
# 다른 풀이
def solution(n, arr1, arr2):
    answer = []
    for i,j in zip(arr1,arr2):
        a12 = str(bin(i|j)[2:])
        a12=a12.rjust(n,'0')
        a12=a12.replace('1','#')
        a12=a12.replace('0',' ')
        answer.append(a12)
    return answer

In [ ]:
# ⭐️문자열 정리 함수들!! 
## rjust(len, 공백 채울 문자) : 오른쪽 정렬 with 원하는 문자
val = "77".rjust(5, "a")
print(val)

## ljust(len, 공백 채울 문자) : 왼쪽 정렬 with 원하는 문자
val = "77".ljust(5, "a")
print(val)

## zfill(len) : 왼쪽 정렬 with 0
val = "77".zfill(5)
print(val)

aaa77
77aaa
00077

In [ ]:
# ⭐️비트연산자
## AND(&) :  대응되는 두 비트가 모두 1일 때만 1을 반환하며, 다른 경우는 모두 0을 반환
## OR(|) :  대응되는 두 비트 중 하나라도 1이면 1을 반환하며, 두 비트가 모두 0일 때만 0을 
## XOR(^) : 대응되는 두 비트가 서로 다르면 1을 반환하고, 서로 같으면 0을 반환
## NOT(~) : 하나의 비트에 대해서 해당 비트가 1이면 0을 반환하고, 0이면 1을 반환

print('9  이진수:', bin(20))
print('30 이진수:', bin(1))
print('-'*20)
print('OR 연산 이진수:', bin(20|1))

9  이진수: 0b10100
30 이진수: 0b1
--------------------
OR 연산 이진수: 0b10101

## 18. 정수 제곱근 판별 (2023.04.06)

In [ ]:
def solution(n):
    sqrt = n**(1/2)
    if sqrt %1 == 0: # 제곱근이 정수이면
        answer = (sqrt+1)**2
    else: answer = -1
    return answer

In [ ]:
solution(121)

144.0

In [ ]:
solution(3)

-1

## 19. 자연수 뒤집어 배열로 만들기 (2023.04.06)

In [ ]:
def solution(n):
    return list(map(int, str(n)))[::-1]

In [ ]:
solution(12345)

[5, 4, 3, 2, 1]

In [ ]:
# 다른 풀이
## [::-1] 대신에 reversed() 사용할 수 있음!!
def digit_reverse(n):
    return list(map(int, reversed(str(n))))

In [ ]:
digit_reverse(12345)

[5, 4, 3, 2, 1]

## 20. 정수 내림차순으로 배치하기 (2023.04.06)

In [ ]:
def solution(n):
    return int(''.join(sorted(list(str(n)), reverse=True)))

In [ ]:
solution(118372)

873211

## 21. 문자열을 정수로 바꾸기 (2023.04.07)

In [ ]:
def solution(s):
    return int(s)

In [ ]:
solution("1234")

1234

In [ ]:
solution("-1234")

-1234

## 22. 두 정수 사이의 합 (2023.04.07)

In [ ]:
def solution(a, b):
    answer = 0
    if a<=b:
        for i in range(a,b+1):
            answer+=i
    else:
        for i in range(b,a+1):
            answer+=i
    return answer

In [ ]:
# 다른 풀이
## if..else 필요 없이 a,b 값 대치해주기
def solution(a, b):
    answer = 0
    if a>b:
        a, b = b, a
    return sum(range(a, b + 1))

In [ ]:
# 다른 풀이
## 수학 공식
def solution(a, b):
    return (abs(a-b)+1)*(a+b)//2

In [ ]:
solution(3,5)

12

In [ ]:
solution(3,3)

3

In [ ]:
solution(5,3)

12

## 23. 같은 숫자는 싫어 (2023.04.14)

In [ ]:
def solution(arr):
  result = []
  result.append(arr[0])
  for i in range(1,len(arr)):
    if result[-1] != arr[i]:
      result.append(arr[i])
  return result

In [ ]:
solution([1,1,3,3,0,1,1])

[1, 3, 0, 1]

In [ ]:
solution([4,4,4,3,3])

[4, 3]

## 24. 크레인 인형뽑기 게임 (2023.04.19)

In [ ]:
def solution(board, moves):
    answer = 0
    N = len(board)
    stack = []
    # moves 반복문
    for move in moves:
        # move 위치 맨 윗칸부터 스캔해서 인형 stack에 넣기
        for i in range(N):
            if board[i][move-1]>0:
                stack.append(board[i][move-1])
                board[i][move-1] = 0
                break
        # stack에서 같은 인형 2개 만나면 없애고 카운트 올리기
        if len(stack)>=2:
            if stack[-2:-1]==stack[-1:]:
                stack = stack[:-2]
                answer+=2
    return answer

In [ ]:
solution([[0,0,0,0,0],[0,0,1,0,3],[0,2,5,0,1],[4,2,4,4,2],[3,5,1,3,1]], 
         [1,5,3,5,1,2,1,4])

4

In [ ]:
solution([[0,0],[0,0]],[1])

0

## 25. K번째 수 (2023.04.22)

In [ ]:
def solution(array, commands):
    return [sorted(array[lst[0]-1:lst[1]])[lst[2]-1] for lst in commands]

In [ ]:
# 다른 풀이 : 리스트 컴프리헨션 말고 map으로도!
def solution(array, commands):
    return list(map(lambda x: sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

In [ ]:
solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]])

[5, 6, 3]

## 26. 음양 더하기 (2023.05.16)

In [ ]:
def solution(absolutes, signs):
    answer = 0
    for i in range(len(signs)):
        if signs[i]:
            answer += absolutes[i]
        else:
            answer -= absolutes[i]
    return answer

In [ ]:
solution([4,7,12], [True,False,True])

9

In [ ]:
solution([1,2,3], [False,False,True])

0

In [ ]:
### zip 사용하기!
def solution(absolutes, signs):
    answer = [num if sign else -num for num, sign in zip(absolutes, signs)]
    return sum(answer)

In [ ]:
solution([4,7,12], [True,False,True])

9

In [ ]:
solution([1,2,3], [False,False,True])

0

## 27. 삼총사 (2023.05.16)

In [ ]:
def solution(number):
    answer = 0
    from itertools import combinations
    for p in list(combinations(number, 3)):
        if sum(p)==0:
            answer+=1
    return answer

In [ ]:
solution([-2, 3, 0, 2, -5])

2

In [ ]:
solution([-3, -2, -1, 0, 1, 2, 3])

5

In [ ]:
solution([-1, 1, -1, 1])

0

## 28. 최소직사각형 (2023.05.25)
- 완전탐색

In [ ]:
def solution(sizes):
    w = [i for i,j in sizes] # 가로
    l = [j for i,j in sizes] # 세로
    # 최대값
    max_wl = max([max(w), max(l)])
    if max_wl in w:  # 가로 < 세로인 경우, 서로 바꾸기
        for i in range(len(w)):
            if (w[i]!=max_wl) & (w[i]<l[i]):
                w[i], l[i] = l[i], w[i]
        answer = max_wl * max(l)
    else:            # 세로 < 가로인 경우, 서로 바꾸기
        for i in range(len(l)):
            if (l[i]!=max_wl) & (w[i]>l[i]):
                w[i], l[i] = l[i], w[i]
        answer = max_wl * max(w)
    return answer

In [ ]:
solution([[60, 50], [30, 70], [60, 30], [80, 40]])

4000

In [ ]:
solution([[10, 7], [12, 3], [8, 15], [14, 7], [5, 15]])

120

In [ ]:
solution([[14, 4], [19, 6], [6, 16], [18, 7], [7, 11]])

133

In [ ]:
# 다른 사람 풀이 - 그냥 max * min 하면 되는 거였다..!
def solution(sizes):
    return max(max(x) for x in sizes) * max(min(x) for x in sizes)

## 29. x만큼 간격이 있는 n개의 숫자 (2023.05.30)

In [ ]:
def solution(x, n):
    answer = [x*i for i in range(1,n+1)]
    return answer

In [ ]:
solution(2,5)

[2, 4, 6, 8, 10]

In [ ]:
solution(4,3)

[4, 8, 12]

In [ ]:
solution(-4,2)

[-4, -8]

## 30. 예산 (2023.06.01)
- Summer/Winter Coding(~2018)

In [1]:
def solution(d, budget):
    answer = sum(d)  
    d_sum = [answer] 
    i = 0           
    new_d = sorted(d, reverse=True)
    while d_sum[-1]>budget:
        answer -= new_d[i]
        d_sum.append(answer)
        i+=1
    return len(d)-i

In [5]:
solution([1,3,2,5,4],9)

3

In [6]:
solution([2,2,3,3],10)

4

In [4]:
def solution(d, budget):
    d.sort()
    while budget < sum(d):
        d.pop()
    return len(d)

## 31. 콜라 문제 (2023.06.01)

In [7]:
def solution(a, b, n):
    answer = 0
    while n>=a:
        answer += (n//a)*b  # 빈병 주고 새로 받은 콜라 누계
        n = (n//a)*b + n%a  # 새로 받은 콜라 + 남은 빈병
    return answer

In [8]:
solution(2,1,20)

19

In [9]:
solution(3,1,20)

9