## 1. 주식가격 (2023.04.20)

In [ ]:
def solution(prices):
    answer = []
    n = len(prices)
    for i in range(n):
        if i != n-1:
            cnt = 1
            for j in range(i+1,n-1):
                if prices[j]>=prices[i]: 
                    cnt+=1
                else:
                    break
            answer.append(cnt)
        else:
            answer.append(0)
    return answer

In [ ]:
solution([1,2,3,2,3])

[4, 3, 1, 1, 0]

In [ ]:
# deque 사용 풀이
def solution(prices):
    from collections import deque
    answer = []
    prices = deque(prices)  # deque 객체 생성
    while prices: 
        c = prices.popleft()  # 큐 - 선입선출 (기준 주가 꺼내기)
        cnt = 0
        for p in prices:  # 기준 주가 뺀 주가 리스트
            if c > p:   # 기준 주가가 더 높으면 (즉, 하락했으면) +1하고 종료 
                cnt+=1
                break
            cnt+=1      # 상승하거나 보합이면 +1
        answer.append(cnt)
    return answer

## 2. 프로세스 (2023.04.20)

In [ ]:
def solution(priorities, location):
    n = len(priorities)
    result = [0]*n
    i = 0
    rank = 1
    M = max(priorities)
    while result[location]==0:
        if priorities[i%n] == M:
            priorities[i%n]=0
            result[i%n] = rank
            rank+=1
            i+=1
            M = max(priorities)
        else:
            i+=1
    return result[location]

In [ ]:
solution([2,1,3,2],2)

1

In [ ]:
solution([1,1,9,1,1,1],0)

5

In [ ]:
# 큐 활용 풀이
## ⭐️any() 함수!! : iteration 모든 요소 중에서 하나라도 참인 경우 True 반환
def solution(priorities, location):
    queue = [(i,p) for i,p in enumerate(priorities)]
    answer = 0
    while True:
        current = queue.pop(0)  # 큐의 가장 첫번째 원소
        if any(current[1]<q[1] for q in queue):  # queue 리스트 원소 중에서 current보다 큰게 하나라도 있으면
            queue.append(current)  # queue에 current 다시 맨 뒤로 넣기
        else:    # current가 가장 크면
            answer += 1   # 순서 +1
            if current[0] == location:  # current의 위치인덱스가 location과 같으면 멈추고 반환
                return answer

## 3. 가장 큰 수 (2023.04.25)

In [ ]:
def solution(numbers):
    numbers = list(map(str, numbers))
    numbers = sorted(numbers, 
                     key=lambda x: x*3,
                    reverse=True)
    return str(int(''.join(numbers)))  # '000' 등은 '0'으로 바꿔주기 위해 str(int())

In [ ]:
solution([6, 10, 2])

'6210'

In [ ]:
solution([3, 30, 34, 5, 9])

'9534330'

In [ ]:
# ⭐️문자열 숫자 비교연산
## 문자열의 경우 첫번째 인덱스부터 차례대로 ASCII 숫자로 바꿔서 대소비교 

print(sorted(['221', '2', '10'], reverse=True))
print(sorted(['221'*2, '2'*2, '10'*2], reverse=True))
print(sorted(['221'*3, '2'*3, '10'*3], reverse=True))  # 문제에서 'numbers의 원소는 0 이상 1,000 이하'이므로 세자리 수까지 비교하려면 곱하기 3

['221', '2', '10']
['221221', '22', '1010']
['222', '221221221', '101010']