문제1(11654): 아스키코드

In [ ]:
a = input()
print(ord(a))

z
122

문제2(11720): 숫자의 합

In [ ]:
N=int(input())
num=input()
num=[int(num[i]) for i in range(N)]
print(sum(num))

11
10987654321
46

문제3(10809): 알파벳 찾기

In [ ]:
S=input()
s=list('abcdefghijklmnopqrstuvwxyz')
for alphabet in s:
  print(S.find(alphabet), end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

문제4(2675): 문자열 반복

In [ ]:
N=int(input())
for _ in range(N):
  r,s=input().split()
  for i in range(len(s)):
    print(s[i]*int(r), end='')
  print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

문제5(1157): 단어 공부

In [ ]:
S=input().upper()
D={}
for s in S:
  if s not in D:
      D[s]=1
  else: D[s]+=1
result=[k for k,v in D.items() if max(D.values()) == v]
if len(result)==1:
  print(result[0])
else: print('?')

Mississipi
?

In [ ]:
S=input().upper()
unq=list(set(S))
cnt=[]
for i in range(len(unq)):
  c=S.count(unq[i])
  cnt.append(c)
if cnt.count(max(cnt))==1:
  idx=cnt.index(max(cnt))
  print(unq[idx])
else:
  print('?')

Mississipi
?

문제6(1152): 단어의 개수

In [ ]:
s=input().split()
print(len(s))

The Curious Case of Benjamin Button
6

문제7(2908): 상수

In [ ]:
a,b=input().split()
a=int(a[2]+a[1]+a[0])
b=int(b[2]+b[1]+b[0])
if a>b: print(a)
else: print(b)

839 237
938

문제8(5622): 다이얼

In [1]:
S=input()
sum=0
for i in range(len(S)):
  ascii=ord(S[i])
  if ascii<80:
    sum+=(ascii+1)//3-19 
  elif ascii<84:
    sum+=8
  elif ascii<87:
    sum+=9
  else: sum+=10
print(sum)

UNUCIC
36

In [2]:
key=['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
S=input()
sum=0
for i in S:
  for j in key:
    if i in j :
      sum+=key.index(j)+3
print(sum)

UNUCIC
36

문제9(2941): 크로아티아 알파벳

In [1]:
S=input()
compound=0
for i in range(len(S)-1,0,-1):
  if S[i]=='j' and S[i-1] in ['l','n']: compound+=1
  elif S[i]=='-': compound+=1
  elif S[i]=='=':
    try:
      if S[-1]!=False:
        if S[i-2]=='d' and S[i-1]=='z': compound+=2
        else: compound+=1
    except: pass
  else: pass
print(len(S)-compound)

ljes=njak
6

In [2]:
normal_word = ['c=','c-','dz=','d-','lj','s=','z=','nj']

word = input()
for i in normal_word:
    if i in word:
        word = word.replace(i, 'a')

print(len(word))

ljes=njak
6

문제10(	1316): 그룹 단어 체커

In [7]:
N=int(input())
cnt=0
for _ in range(N):
  s=input()
  no_group=0
  for i in range(len(s)):
    a=s[i]
    try:
      if s.find(a,i+1)!=i+1 and s.find(a,i+2)!=-1: no_group+=1
      else: pass
    except: no_group+=1
  if no_group==0: cnt+=1
print(cnt)

3
happy
new
year
3

In [11]:
# 다른 풀이
N=int(input())
no_group = 0
for _ in range(N):
    w = input()
    for i in range(len(w) - 1):
        if w[i] != w[i + 1]:
            new = w[i + 1:len(w) + 1]
            if w[i] in new:
                no_group += 1    
                break
print(N - no_group)

4
aba
abab
abcabc
a
1